html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    position: relative;

}

/*Loading*/
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/spinner.gif) 50% 50% no-repeat rgb(255, 255, 255);
}


/* Lainnya */
.btn {
    min-width: 150px;
    border-radius: 30px;
    padding: 15px;
}


/* Versi Desktop */
@media (min-width: 992px) {
    section {
        min-height: 420px;
    }

    .navbar {
        text-transform: uppercase;
    }

    .image-jumbotron {
        background-color: black;
        margin-top: 100px;
    }

    .jumbotron .display-4 {
        margin-top: 100px;
    }
}

/* NAVBAR */
.navbar {
    background-color: rgb(7, 7, 7);
}

.nav-link {
    margin-left: 25px;
}

/* JUMBROTON */
.jumbotron {
    background-color: black;
}

.image-jumbotron {
    background-color: black;
}

.jumbotron .display-4 {
    padding-top: 100px;
}


/* MENU */
.menu ul p {
    font-size: 30px;
}

.list-group .list-group-item {
    background-color: black;
}

/* GALLERY */
.gallery {
    background: linear-gradient(black, #0C0A0F);
}


/* CONTACT */
.contact .list-group-item {
    background-color: transparent;
}

.contact {
    background-image: url(https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif);
}

/* FOOTER */
footer {
    background-color: rgb(7, 7, 7);
}