body {
    background-color: black;
}

/* Lainnya */
.btn {
    border-radius: 30px;
    padding: 15px;
}

/* NAVBAR */
/* Versi Desktop */
@media (min-width: 992px) {
    .navbar {
        text-transform: uppercase;
    }

    .image-jumbotron {
        background-color: black;
        margin-top: 100px;
    }
}

.navbar {
    background-color: black;
}

.nav-link {
    margin-left: 25px;
}

/* JUMBROTON */
.jumbotron {
    background-color: black;
}

.image-jumbotron {
    background-color: black;
}

.jumbotron .display-3 {
    margin-top: 200px;
}


/* MENU */
.menu .display-4 {
    margin-top: 150px;
}

.menu ul p {
    font-size: 30px;
}

.list-group .list-group-item {
    background-color: black;
}

/* SERVICES */
.services .display-4 {
    margin-top: 150px;
}